<h1>Listing indexed_gifs</h1>

<table>
  <tr>
    <th>GIF</th>
    <th>Source</th>
    <th>Source ID</th>
    <th>Caption</th>
    <th>Individual caption</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indexed_gifs.each do |indexed_gif| %>
  <tr>
    <td><img src="<%= indexed_gif.url %>" /></td>
    <td>
      <a href=" <%= indexed_gif.source_url %>">
        <%= indexed_gif.source_name %>
      </a>
    </td>
    <td><%= indexed_gif.source_id %></td>
    <td><%= indexed_gif.safe_caption.html_safe %></td>
    <td><%= indexed_gif.safe_individual_caption.html_safe %></td>
    <td><%= indexed_gif.tags %></td>
    <td><%= link_to 'Show', indexed_gif %></td>
    <td><%= link_to 'Edit', edit_indexed_gif_path(indexed_gif) %></td>
    <td><%= link_to 'Destroy', indexed_gif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Indexed gif', new_indexed_gif_path %>
