<p id="notice"><%= notice %></p>

<img src="<%= @indexed_gif.url %>" />
<p>
  <b>Source:</b>
  <a href="<%= @indexed_gif.source_url %>">
    <%= @indexed_gif.source_name %>
  </a>
</p>


<p>
  <b>Caption:</b>
  <%= @indexed_gif.safe_caption %>
  <%= @indexed_gif.safe_individual_caption %>
</p>


<p>
  <b>Tags:</b>
  <% @indexed_gif.tags.each do |tag| %>
    <span class="tag"><%= tag %></span>
  <% end %>
</p>


<%= link_to 'Edit', edit_indexed_gif_path(@indexed_gif) %> |
<%= link_to 'Back', indexed_gifs_path %>
